In [1]:
import pandas as pd
import sqlite3
from ingestion_db import ingest_db

In [2]:
conn=sqlite3.connect('inventory.db')

In [38]:
tables = pd.read_sql_query("select name from sqlite_master where type='table'",conn)
tables

                   name
0       begin_inventory
1         end_inventory
2             purchases
3       purchase_prices
4                 sales
5        vendor_invoice
6  vendor_sales_summary

In [8]:
# Just EDA
for table in tables['name']:
    print('-'*50+table.upper()+'-'*50)
    print('Total_rows =', pd.read_sql(f'select count(*) as total_rows from {table}',conn)['total_rows'].values[0])
    display(pd.read_sql(f"select * from {table} limit 5",conn))

--------------------------------------------------BEGIN_INVENTORY--------------------------------------------------
Total_rows = 206529

,InventoryId,Store,City,Brand,Description,Size,onHand,Price,startDate
0,1_HARDERSFIELD_58,1,HARDERSFIELD,58,Gekkeikan Black & Gold Sake,750mL,8,12.99,2024-01-01
1,1_HARDERSFIELD_60,1,HARDERSFIELD,60,Canadian Club 1858 VAP,750mL,7,10.99,2024-01-01
2,1_HARDERSFIELD_62,1,HARDERSFIELD,62,Herradura Silver Tequila,750mL,6,36.99,2024-01-01
3,1_HARDERSFIELD_63,1,HARDERSFIELD,63,Herradura Reposado Tequila,750mL,3,38.99,2024-01-01
4,1_HARDERSFIELD_72,1,HARDERSFIELD,72,No. 3 London Dry Gin,750mL,6,34.99,2024-01-01

--------------------------------------------------END_INVENTORY--------------------------------------------------
Total_rows = 224489

,InventoryId,Store,City,Brand,Description,Size,onHand,Price,endDate
0,1_HARDERSFIELD_58,1,HARDERSFIELD,58,Gekkeikan Black & Gold Sake,750mL,11,12.99,2024-12-31
1,1_HARDERSFIELD_62,1,HARDERSFIELD,62,Herradura Silver Tequila,750mL,7,36.99,2024-12-31
2,1_HARDERSFIELD_63,1,HARDERSFIELD,63,Herradura Reposado Tequila,750mL,7,38.99,2024-12-31
3,1_HARDERSFIELD_72,1,HARDERSFIELD,72,No. 3 London Dry Gin,750mL,4,34.99,2024-12-31
4,1_HARDERSFIELD_75,1,HARDERSFIELD,75,Three Olives Tomato Vodka,750mL,7,14.99,2024-12-31

--------------------------------------------------PURCHASES--------------------------------------------------
Total_rows = 2372474

,InventoryId,Store,Brand,Description,Size,VendorNumber,VendorName,PONumber,PODate,ReceivingDate,InvoiceDate,PayDate,PurchasePrice,Quantity,Dollars,Classification
0,69_MOUNTMEND_8412,69,8412,Tequila Ocho Plata Fresno,750mL,105,ALTAMAR BRANDS LLC,8124,2023-12-21,2024-01-02,2024-01-04,2024-02-16,35.71,6,214.26,1
1,30_CULCHETH_5255,30,5255,TGI Fridays Ultimte Mudslide,1.75L,4466,AMERICAN VINTAGE BEVERAGE,8137,2023-12-22,2024-01-01,2024-01-07,2024-02-21,9.35,4,37.40,1
2,34_PITMERDEN_5215,34,5215,TGI Fridays Long Island Iced,1.75L,4466,AMERICAN VINTAGE BEVERAGE,8137,2023-12-22,2024-01-02,2024-01-07,2024-02-21,9.41,5,47.05,1
3,1_HARDERSFIELD_5255,1,5255,TGI Fridays Ultimte Mudslide,1.75L,4466,AMERICAN VINTAGE BEVERAGE,8137,2023-12-22,2024-01-01,2024-01-07,2024-02-21,9.35,6,56.10,1
4,76_DONCASTER_2034,76,2034,Glendalough Double Barrel,750mL,388,ATLANTIC IMPORTING COMPANY,8169,2023-12-24,2024-01-02,2024-01-09,2024-02-16,21.32,5,106.60,1

--------------------------------------------------PURCHASE_PRICES--------------------------------------------------
Total_rows = 12261

,Brand,Description,Price,Size,Volume,Classification,PurchasePrice,VendorNumber,VendorName
0,58,Gekkeikan Black & Gold Sake,12.99,750mL,750,1,9.28,8320,SHAW ROSS INT L IMP LTD
1,62,Herradura Silver Tequila,36.99,750mL,750,1,28.67,1128,BROWN-FORMAN CORP
2,63,Herradura Reposado Tequila,38.99,750mL,750,1,30.46,1128,BROWN-FORMAN CORP
3,72,No. 3 London Dry Gin,34.99,750mL,750,1,26.11,9165,ULTRA BEVERAGE COMPANY LLP
4,75,Three Olives Tomato Vodka,14.99,750mL,750,1,10.94,7245,PROXIMO SPIRITS INC.

--------------------------------------------------SALES--------------------------------------------------
Total_rows = 12825363

,InventoryId,Store,Brand,Description,Size,SalesQuantity,SalesDollars,SalesPrice,SalesDate,Volume,Classification,ExciseTax,VendorNo,VendorName
0,1_HARDERSFIELD_1004,1,1004,Jim Beam w/2 Rocks Glasses,750mL,1,16.49,16.49,2024-01-01,750.0,1,0.79,12546,JIM BEAM BRANDS COMPANY
1,1_HARDERSFIELD_1004,1,1004,Jim Beam w/2 Rocks Glasses,750mL,2,32.98,16.49,2024-01-02,750.0,1,1.57,12546,JIM BEAM BRANDS COMPANY
2,1_HARDERSFIELD_1004,1,1004,Jim Beam w/2 Rocks Glasses,750mL,1,16.49,16.49,2024-01-03,750.0,1,0.79,12546,JIM BEAM BRANDS COMPANY
3,1_HARDERSFIELD_1004,1,1004,Jim Beam w/2 Rocks Glasses,750mL,1,14.49,14.49,2024-01-08,750.0,1,0.79,12546,JIM BEAM BRANDS COMPANY
4,1_HARDERSFIELD_1005,1,1005,Maker's Mark Combo Pack,375mL 2 Pk,2,69.98,34.99,2024-01-09,375.0,1,0.79,12546,JIM BEAM BRANDS COMPANY

--------------------------------------------------VENDOR_INVOICE--------------------------------------------------
Total_rows = 5543

,VendorNumber,VendorName,InvoiceDate,PONumber,PODate,PayDate,Quantity,Dollars,Freight,Approval
0,105,ALTAMAR BRANDS LLC,2024-01-04,8124,2023-12-21,2024-02-16,6,214.26,3.47,None
1,4466,AMERICAN VINTAGE BEVERAGE,2024-01-07,8137,2023-12-22,2024-02-21,15,140.55,8.57,None
2,388,ATLANTIC IMPORTING COMPANY,2024-01-09,8169,2023-12-24,2024-02-16,5,106.60,4.61,None
3,480,BACARDI USA INC,2024-01-12,8106,2023-12-20,2024-02-05,10100,137483.78,2935.20,None
4,516,BANFI PRODUCTS CORP,2024-01-07,8170,2023-12-24,2024-02-12,1935,15527.25,429.20,None

In [73]:
freight_summary = pd.read_sql_query("""select vendornumber,
sum(freight) as "Freight cost"
from vendor_invoice 
group by vendornumber""",conn)

In [76]:
freight_summary[["VendorNumber","Freight cost"]]

     VendorNumber  Freight cost
0              54          0.48
1              60        367.52
2            1703        172.00
3             105         62.39
4             200          6.19
..            ...           ...
124          9622        222.23
125          9625       1933.19
126          3664      30234.42
127          9815      27100.41
128         90058        448.68

[129 rows x 2 columns]

purchase_prices table tell which vendors supply which product/brand
purchase table tell who bought/supplied, unit price and Total_transaction price, inshort it keeps the record of the transaction

In [200]:
x = pd.read_sql_query("""SELECT
p.VendorNumber,
p.VendorName,
p.Brand,
p.PurchasePrice,
pp.volume,
sum(p.quantity) as total_purchase_quantity,
sum(p.Dollars) as total_purchase_Dollars
from purchases p
join purchase_prices pp
on p.Brand = pp.brand
where p.purchasePrice > 0
group by p.vendorNumber, p.VendorName, p.Brand
order by total_purchase_dollars desc
""",conn)

In [202]:
x

,VendorNumber,VendorName,Brand,PurchasePrice,Volume,total_purchase_quantity,total_purchase_Dollars
0,1128,BROWN-FORMAN CORP,1233,26.27,1750,145080,3811251.60
1,4425,MARTIGNETTI COMPANIES,3405,23.19,1750,164038,3804041.22
2,17035,PERNOD RICARD USA,8068,18.24,1750,187407,3418303.68
3,3960,DIAGEO NORTH AMERICA INC,4261,16.17,1750,201682,3261197.94
4,3960,DIAGEO NORTH AMERICA INC,3545,21.89,1750,138109,3023206.01
...,...,...,...,...,...,...,...
10687,9815,WINE GROUP INC,8527,1.32,750,2,2.64
10688,8004,SAZERAC CO INC,5683,0.39,50,6,2.34
10689,3924,HEAVEN HILL DISTILLERIES,9123,0.74,50,2,1.48
10690,3960,DIAGEO NORTH AMERICA INC,6127,1.47,200,1,1.47
10691,7245,PROXIMO SPIRITS INC.,3065,0.71,50,1,0.71

In [5]:
u = pd.read_sql_query("select * from sales limit 5",conn)

In [7]:
u.columns

Index(['InventoryId', 'Store', 'Brand', 'Description', 'Size', 'SalesQuantity',
       'SalesDollars', 'SalesPrice', 'SalesDate', 'Volume', 'Classification',
       'ExciseTax', 'VendorNo', 'VendorName'],
      dtype='object')

In [9]:
pd.read_sql_query("""select
vendorNo,
Brand,
sum(salesDollars) as TotalSalesDollars,
sum(salesPrice) as TotalSalesPrice,
sum(SalesQuantity) as TotalSalesQuantity,
sum(ExciseTax) as TotalExciseTax
from sales
Group By VendorNo,Brand
Order by totalsalesdollars
""",conn)

,VendorNo,Brand,TotalSalesDollars,TotalSalesPrice,TotalSalesQuantity,TotalExciseTax
0,8004,5287,0.98,0.98,2,0.10
1,9206,2773,0.99,0.99,1,0.05
2,3252,3933,1.98,0.99,2,0.10
3,3924,9123,1.98,0.99,2,0.10
4,10050,3623,1.98,1.98,2,0.10
...,...,...,...,...,...,...
11267,3960,3545,4223107.62,545778.28,135838,249587.83
11268,3960,4261,4475972.88,420050.01,200412,368242.80
11269,17035,8068,4538120.60,461140.15,187140,343854.07
11270,4425,3405,4819073.49,561512.37,160247,294438.66
11271,1128,1233,5101919.51,672819.31,142049,260999.20

In [47]:
vendor_sales_summary = pd.read_sql_query("""
with FreightSummary as (
select vendornumber,
sum(freight) as FreightCost
from vendor_invoice 
group by vendornumber
),
PurchaseSummary as (
SELECT
p.VendorNumber,
p.VendorName,
p.Brand,
p.PurchasePrice,
p.Description,
pp.volume,
pp.price as actualPrice,
sum(p.quantity) as total_purchase_quantity,
sum(p.Dollars) as total_purchase_Dollars
from purchases p
join purchase_prices pp
on p.Brand = pp.brand
where p.purchasePrice > 0
group by p.vendorNumber, p.VendorName, p.Brand,p.PurchasePrice,pp.volume,pp.price,pp.volume,p.Description
order by total_purchase_dollars desc
),
sales_summary as (
select
vendorNo,
Brand,
sum(salesDollars) as TotalSalesDollars,
sum(salesPrice) as TotalSalesPrice,
sum(SalesQuantity) as TotalSalesQuantity,
sum(ExciseTax) as TotalExciseTax
from sales
Group By VendorNo,Brand
Order by totalsalesdollars
)

select 
ps.VendorNumber,
ps.VendorName,
ps.Brand,
ps.Description,
ps.PurchasePrice,
ps.ActualPrice,
ps.Volume,
ps.total_purchase_quantity,
ps.total_purchase_Dollars,
ss.TotalSalesQuantity,
ss.TotalSalesDollars,
ss.TotalSalesPrice,
ss.TotalExciseTax,
fs.FreightCost
from purchaseSummary ps
left join sales_summary ss
on ps.vendornumber = ss.vendorNo and ps.brand = ss.brand
left join freightsummary fs
on ps.vendornumber = fs.vendornumber
order by ps.total_purchase_Dollars desc
""",conn)

In [4]:
vendor_sales_summary

,VendorNumber,VendorName,Brand,PurchasePrice,volume,actualPrice,total_purchase_quantity,total_purchase_Dollars,vendorNo,Brand,TotalSalesDollars,TotalSalesPrice,TotalSalesQuantity,TotalExciseTax,vendornumber,Freight cost
0,1128,BROWN-FORMAN CORP,1233,26.27,1750,36.99,145080,3811251.60,1128.0,1233.0,5101919.51,672819.31,142049.0,260999.20,1128,68601.68
1,4425,MARTIGNETTI COMPANIES,3405,23.19,1750,28.99,164038,3804041.22,4425.0,3405.0,4819073.49,561512.37,160247.0,294438.66,4425,144929.24
2,17035,PERNOD RICARD USA,8068,18.24,1750,24.99,187407,3418303.68,17035.0,8068.0,4538120.60,461140.15,187140.0,343854.07,17035,123780.22
3,3960,DIAGEO NORTH AMERICA INC,4261,16.17,1750,22.99,201682,3261197.94,3960.0,4261.0,4475972.88,420050.01,200412.0,368242.80,3960,257032.07
4,3960,DIAGEO NORTH AMERICA INC,3545,21.89,1750,29.99,138109,3023206.01,3960.0,3545.0,4223107.62,545778.28,135838.0,249587.83,3960,257032.07
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10687,9815,WINE GROUP INC,8527,1.32,750,4.99,2,2.64,9815.0,8527.0,15.95,10.96,5.0,0.55,9815,27100.41
10688,8004,SAZERAC CO INC,5683,0.39,50,0.49,6,2.34,8004.0,5683.0,65.66,1.47,134.0,7.04,8004,50293.62
10689,3924,HEAVEN HILL DISTILLERIES,9123,0.74,50,0.99,2,1.48,3924.0,9123.0,1.98,0.99,2.0,0.10,3924,14069.87
10690,3960,DIAGEO NORTH AMERICA INC,6127,1.47,200,1.99,1,1.47,3960.0,6127.0,143.28,77.61,72.0,15.12,3960,257032.07
10691,7245,PROXIMO SPIRITS INC.,3065,0.71,50,0.99,1,0.71,7245.0,3065.0,85.14,33.66,86.0,4.46,7245,38994.78

In [5]:
vendor_sales_summary['volume'] = vendor_sales_summary['volume'].astype('float')
vendor_sales_summary['VendorName'] = vendor_sales_summary['VendorName'].astype('string')

In [6]:
vendor_sales_summary.dtypes

VendorNumber                        int64
VendorName                 string[python]
Brand                               int64
PurchasePrice                     float64
volume                            float64
actualPrice                       float64
total_purchase_quantity             int64
total_purchase_Dollars            float64
vendorNo                          float64
Brand                             float64
TotalSalesDollars                 float64
TotalSalesPrice                   float64
TotalSalesQuantity                float64
TotalExciseTax                    float64
vendornumber                        int64
Freight cost                      float64
dtype: object

In [7]:
vendor_sales_summary.fillna(0,inplace=True)

In [42]:
vendor_sales_summary.isna().sum()

VendorNumber               0
VendorName                 0
Brand                      0
PurchasePrice              0
volume                     0
actualPrice                0
total_purchase_quantity    0
total_purchase_Dollars     0
vendorNo                   0
Brand                      0
TotalSalesDollars          0
TotalSalesPrice            0
TotalSalesQuantity         0
TotalExciseTax             0
vendornumber               0
Freight cost               0
dtype: int64

In [8]:
vendor_sales_summary['VendorName'] = vendor_sales_summary['VendorName'].str.strip()

In [9]:
vendor_sales_summary['VendorName'].unique()

<StringArray>
[          'BROWN-FORMAN CORP',       'MARTIGNETTI COMPANIES',
           'PERNOD RICARD USA',    'DIAGEO NORTH AMERICA INC',
             'BACARDI USA INC',     'JIM BEAM BRANDS COMPANY',
         'MAJESTIC FINE WINES',  'ULTRA BEVERAGE COMPANY LLP',
       'STOLI GROUP,(USA) LLC',        'PROXIMO SPIRITS INC.',
 ...
                    'UNCORKED',         'BRONCO WINE COMPANY',
     'MILTONS DISTRIBUTING CO',                'TRUETT HURST',
         'LAUREATE IMPORTS CO',     'FANTASY FINE WINES CORP',
 'AAPER ALCOHOL & CHEMICAL CO',      'SILVER MOUNTAIN CIDERS',
      'CAPSTONE INTERNATIONAL',          'FLAVOR ESSENCE INC']
Length: 128, dtype: string

In [12]:
vendor_sales_summary["GrossProfit"] = vendor_sales_summary["TotalSalesDollars"] - vendor_sales_summary['total_purchase_Dollars']

In [14]:
vendor_sales_summary["ProfitMargin"] = (vendor_sales_summary["GrossProfit"] / vendor_sales_summary['TotalSalesDollars'])*100

In [15]:
vendor_sales_summary["StockTurnover"] = vendor_sales_summary["TotalSalesQuantity"] / vendor_sales_summary['total_purchase_quantity']

In [16]:
vendor_sales_summary["SalestoPurchaseRatio"] = vendor_sales_summary["TotalSalesDollars"] / vendor_sales_summary['total_purchase_Dollars']

In [18]:
cursor = conn.cursor()

In [34]:
cursor.execute("""CREATE TABLE vendor_sales_summary (
VendorNumber Int,
VendorName VarCHAR(100),
Brand INT,
Description VARCHAR(100),
PurchasePrice DECIMAL(10,2),
ActualPrice DECIMAL(10,2),
Volume, 
TotalPurchaseQuantity INT,
TotalPurchaseDollars DECIMAL(15,2),
TotalSalesQuantity INT,
TotalSalesDollars DECIMAL(15,2),
TotalSalesPrice DECIMAL(15,2),
TotalExciseTax DECIMAL(15,2),
FreightCost DECIMAL(15,2),
GrossProfit DECIMAL(15,2),
ProfitMargin DECIMAL(15,2),
StockTurnover DECIMAL(15,2),
SalesToPurchaseRation DECIMAL(15,2),
PRIMARY KEY (VendorNumber,Brand)
);
""")

In [48]:
vendor_sales_summary.to_sql("vendor_sales_summary",conn, if_exists = 'replace', index = False)

10692

In [49]:
pd.read_sql_query("select * from vendor_sales_summary",conn)

,VendorNumber,VendorName,Brand,Description,PurchasePrice,actualPrice,volume,total_purchase_quantity,total_purchase_Dollars,TotalSalesQuantity,TotalSalesDollars,TotalSalesPrice,TotalExciseTax,FreightCost
0,1128,BROWN-FORMAN CORP,1233,Jack Daniels No 7 Black,26.27,36.99,1750,145080,3811251.60,142049.0,5101919.51,672819.31,260999.20,68601.68
1,4425,MARTIGNETTI COMPANIES,3405,Tito's Handmade Vodka,23.19,28.99,1750,164038,3804041.22,160247.0,4819073.49,561512.37,294438.66,144929.24
2,17035,PERNOD RICARD USA,8068,Absolut 80 Proof,18.24,24.99,1750,187407,3418303.68,187140.0,4538120.60,461140.15,343854.07,123780.22
3,3960,DIAGEO NORTH AMERICA INC,4261,Capt Morgan Spiced Rum,16.17,22.99,1750,201682,3261197.94,200412.0,4475972.88,420050.01,368242.80,257032.07
4,3960,DIAGEO NORTH AMERICA INC,3545,Ketel One Vodka,21.89,29.99,1750,138109,3023206.01,135838.0,4223107.62,545778.28,249587.83,257032.07
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10687,9815,WINE GROUP INC,8527,Concannon Glen Ellen Wh Zin,1.32,4.99,750,2,2.64,5.0,15.95,10.96,0.55,27100.41
10688,8004,SAZERAC CO INC,5683,Dr McGillicuddy's Apple Pie,0.39,0.49,50,6,2.34,134.0,65.66,1.47,7.04,50293.62
10689,3924,HEAVEN HILL DISTILLERIES,9123,Deep Eddy Vodka,0.74,0.99,50,2,1.48,2.0,1.98,0.99,0.10,14069.87
10690,3960,DIAGEO NORTH AMERICA INC,6127,The Club Strawbry Margarita,1.47,1.99,200,1,1.47,72.0,143.28,77.61,15.12,257032.07
10691,7245,PROXIMO SPIRITS INC.,3065,Three Olives Grape Vodka,0.71,0.99,50,1,0.71,86.0,85.14,33.66,4.46,38994.78

In [60]:
import sqlite3
import pandas as pd
import time
from ingestion_db import ingest_db

def create_vendor_summary(conn):
    vendor_sales_summary = pd.read_sql_query("""
        with FreightSummary as (
        select vendornumber,
        sum(freight) as FreightCost
        from vendor_invoice 
        group by vendornumber
        ),
        PurchaseSummary as (
        SELECT
        p.VendorNumber,
        p.VendorName,
        p.Brand,
        p.PurchasePrice,
        p.Description,
        pp.volume,
        pp.price as actualPrice,
        sum(p.quantity) as total_purchase_quantity,
        sum(p.Dollars) as total_purchase_Dollars
        from purchases p
        join purchase_prices pp
        on p.Brand = pp.brand
        where p.purchasePrice > 0
        group by p.vendorNumber, p.VendorName, p.Brand,p.PurchasePrice,pp.volume,pp.price,pp.volume,p.Description
        order by total_purchase_dollars desc
        ),
        sales_summary as (
        select
        vendorNo,
        Brand,
        sum(salesDollars) as TotalSalesDollars,
        sum(salesPrice) as TotalSalesPrice,
        sum(SalesQuantity) as TotalSalesQuantity,
        sum(ExciseTax) as TotalExciseTax
        from sales
        Group By VendorNo,Brand
        Order by totalsalesdollars
        )
        
        select 
        ps.VendorNumber,
        ps.VendorName,
        ps.Brand,
        ps.Description,
        ps.PurchasePrice,
        ps.ActualPrice,
        ps.Volume,
        ps.total_purchase_quantity,
        ps.total_purchase_Dollars,
        ss.TotalSalesQuantity,
        ss.TotalSalesDollars,
        ss.TotalSalesPrice,
        ss.TotalExciseTax,
        fs.FreightCost
        from purchaseSummary ps
        left join sales_summary ss
        on ps.vendornumber = ss.vendorNo and ps.brand = ss.brand
        left join freightsummary fs
        on ps.vendornumber = fs.vendornumber
        order by ps.total_purchase_Dollars desc
    """,conn)
    return vendor_sales_summary

def clean_data(df):
    # Data Cleaning
    df['volume'] = df['volume'].astype('float')
    df['VendorName'] = df['VendorName'].str.strip()
    df['Description'] = df['Description'].str.strip()
    df.fillna(0,inplace=True)

    # creating new columns
    df["GrossProfit"] = df["TotalSalesDollars"] - df['total_purchase_Dollars']
    df["ProfitMargin"] = (df["GrossProfit"] / df['TotalSalesDollars'])*100
    df["StockTurnover"] = df["TotalSalesQuantity"] / df['total_purchase_quantity']
    df["SalestoPurchaseRatio"] = df["TotalSalesDollars"] / df['total_purchase_Dollars']
    
    return df

if __name__ == '__main__':
    start = time.time()
    conn = sqlite3.connect('inventory.db')
    summary_df = create_vendor_summary(conn)
    cleaned_df = clean_data(summary_df)
    ingest_db(cleaned_df,'vendor_sales_summary',conn)
    end = time.time()
    print(f"Completed in {round((end-start)/60,2)} minutes")

Completed in 1.36 minutes

In [59]:
x = 2.343443434
print(round(x,2))

2.34